<div class  ="card bg-dark">
 <div class = "row">
            <div class = "col">
                <img [src] = "imgUrl" alt="profile">
            </div>
            <div class ="col">
              <br/>
              <h2>{{coacheDetails[0].name}}</h2>
              <h4>Coach Id : {{coacheDetails[0].id}}</h4>
              <h6>Date of Birth : {{coacheDetails[0].dateOfBirth}}</h6>
              <h6>Mobile No: {{coacheDetails[0].mobileNumber}}</h6>
              <h6>Speciality: {{coacheDetails[0].speciality}}</h6>
            </div>
    </div>
</div>
<div>
  <p id ="footer">Copyright &copy; 2020 , WeCare. All rights reserved</p>
</div>
<!-- 

<div class = "container">
    <div class="row">
        <div class = "card bg-dark">
            <div class="column" style="background-color:#aaa;">
            </div>
            <div class="column" style="background-color:#bbb;">
              <h2>Column 2</h2>
              <p>Some text..</p>
            </div>
        </div>
        
      </div>
</div> -->