
<div class="container">
    <div class="row-2 align-items-center">
        <div class="col-4 mx-auto">
            &nbsp;&nbsp;&nbsp;
            <div class="card bg-dark shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                        <h4><img [src] = "imgSrc" alt = "img"> Login as Life Coach</h4>
                        <div class = "card-body">
                            <form >
                                <div class ="form-group">
                                    <input class  = "form-control" type = "text" placeholder={{placeholder}}>
                                    <br/>
                                    <input class ="form-control" type = "password" placeholder="Password">
                                    <br/>
                                    <button type = "submit" class  ="btn">Login</button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <p id ="footer">Copyright &copy; 2020 , WeCare. All rights reserved</p>
  </div>