
<div class="container">
    <div class="row-2 align-items-center">
        <div class="col-4 mx-auto">
            &nbsp;&nbsp;&nbsp;
            <div class="card bg-dark shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                        <h4><img [src] = "imgSrc" alt = "img"> {{loginTitle}}</h4>
                        <div class = "card-body">
                            <form [formGroup] = "loginForm" (ngSubmit)="login(loginForm)" >
                                <div class ="form-group">
                                    <input class  = "form-control" type = "text" placeholder={{placeholder}} formControlName = "Id">
                                    <p *ngIf = "loginForm.controls['Id'].errors?.['required']" style="color:red">This field is required</p>
                                    <br/>
                                    <input class ="form-control" type = "password" placeholder="Password"  formControlName = "password">
                                    <p *ngIf = "loginForm.controls['password'].errors?.['minlength']" style="color:red">Password should be have 5 to 10 characters</p>
                                    <br/>
                                    <button type = "submit" class  ="btn">Login</button>
                                    <p *ngIf=" errorMessage" style="color:red">{{errorMessage}}</p>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <p id ="footer">Copyright &copy; 2020 , WeCare. All rights reserved</p>
  </div>