<link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-md">
  <a class="navbar-brand logo" href="#">WeCare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon">T</span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" [routerLink]="['user/profile']" *ngIf="uProfile"><i class="fa fa-user"></i>&nbsp;View Profile</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" [routerLink]="['user/appointments']" *ngIf="uProfile"><i class="fa fa-list"></i>&nbsp;My Appointments</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" [routerLink]="['coach/profile']" *ngIf="cProfile"><i class="fa fa-user"></i>&nbsp;View Profile</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" [routerLink]="['/coach/home']" *ngIf="cProfile"><i class="fa fa-list"></i>&nbsp;My Schedules</a>
      </li>
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" [routerLink]="['/home']"><i class="fa fa-phone"></i>&nbsp;Call Us : 080 2233447</a>
      </li>
      
      <li class="nav-item myitem" *ngIf="logout">
        <a class="nav-link mylink" (click)="logoutFn()"><i class="fa fa-sign-out" ></i>&nbsp;Logout</a>
      </li>
    </ul>
  </div>  
</nav>
<div class="container-fluid content">
  <router-outlet></router-outlet>
</div>
