.card{
    width:400px;
    height: 220px;
    background-color: black;
    border-radius: 10px;
}

img{
   margin-top: 20px;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    border-radius: 50%;
}
h4{
    text-align: left;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: small;
    color: white;
}
.btn{
    width :130px;
    height :35px;
    text-align:center;
    font-size: smaller;
    color: white;
    font-style: bold;
    background-color:darkcyan
}